<h2>Questa è una {{title}}</h2>
<h3>Questo è il nostro {{subtitle}}</h3>
<a class='btn btn-warning' (click)='aggiungiProdotto()'>
  Aggiungi prodotto
</a>
<a class='btn btn-success' (click)='esempioDiClick()'>
Svuota catalogo
</a>
<div *ngIf="products && products.length > 0">
  <p>Il numero totale dei prodotti è {{productNumber}}</p>
<table class="table table-hover table-striped table-responsive">
  <th>id</th>
  <th>name</th>
  <th>category</th>
  <th>price</th>
  <th>description</th>
  <th>image</th>
  <tr *ngFor="let product of products">
<td>{{product.id}}</td>
<td>{{product.name}}</td>
<td>{{product.category}}</td>
<td>{{product.price}}</td>
<td>{{product.description}}</td>
<td><img [src]="product.image" alt="not found"></td>
  </tr>
</table>
</div>

