<h2>{{title | customPipe: '*' | uppercase}}</h2>
<h3>{{subtitle | uppercase}}</h3>
<h3>Oggi è il giorno {{dataOdierna | date: 'dd/MM/yyyy'}}</h3>
<a class='btn btn-warning' (click)='aggiungiProdotto()'>
  Aggiungi prodotto
</a>

<a class='btn btn-success' (click)='esempioDiClick()'>
Svuota catalogo
</a>

<app-product-detail></app-product-detail>
<div *ngIf="products && products.length > 0">
  <p>Il numero totale dei prodotti è {{productNumber}}</p>
<table class="table table-hover table-striped table-responsive">
  <th>id</th>
  <th>name</th>
  <th>category</th>
  <th>price</th>
  <th>description</th>
  <th>image</th>
  <tr *ngFor="let product of products">
<td>{{product.id}}</td>
<td>{{product.name}}</td>
<td>{{product.category}}</td>
<td>{{product.price | currency : 'EUR'}}</td>
<td>{{product.description}}</td>
<td><img [src]="product.image" alt="not found"></td>
  </tr>
</table>
</div>
<input [(ngModel)]="example">
<p>{{example}}</p>


