<div *ngIf="showTable === false">
  <app-product-detail [title]='title' [selectedProduct]='selectedProduct' (notifica)="notificaDaFiglio($event)">
  </app-product-detail>
</div>
<div *ngIf="products && products.length > 0 && showTable === true">
  <h2>{{title | customPipe: '*' | uppercase}}</h2>
  <h3>{{subtitle | uppercase}} <span class="badge badge-primary badge-pill">{{productNumber}}</span></h3>
  <h3>Oggi è il giorno {{dataOdierna | date: 'dd/MM/yyyy'}}</h3>
  <div class="btn-group margine-bottoni">
    <a class='btn btn-warning' (click)='aggiungiProdotto()'>
      Aggiungi prodotto
    </a>

    <a class='btn btn-success' (click)='esempioDiClick()'>
      Svuota catalogo
    </a>
  </div>
  <div class="row allinea">
      <div class="card text-white bg-primary col-3" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
  </div>
</div>
